# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Spark / Hadoop
derby.log
metastore_db/
spark-warehouse/

# MinIO / Data
*.parquet
*.csv
*.json.gz
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
